@page "/"

<PageTitle>Canvas Assistant</PageTitle>

<h1>Test Test Test</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

<p>How accurate is this?</p>

<p>Visual Studio Code, Timestamp 2024-03-25==13:11:14</p>
